@model ProjeYonetim.Entities.Expense

@{
    ViewData["Title"] = "GetById";
}

<h1 class="text-monospace text-info text-center">Gider Detay</h1>
<hr class="col-md-7 bg-danger" />
<hr class="col-md-7 bg-warning" />

<div class="row justify-content-center mx-auto col-md-5">
    <div class="row table table-bordered p-2 border-info">
        <dl class="row">
            <dt class="col-sm-4">
                @Html.DisplayNameFor(model => model.ExpenseName)
            </dt>
            <dd class="col-sm-8">
                @Html.DisplayFor(model => model.ExpenseName)
            </dd>
            <dt class="col-sm-4">
                @Html.DisplayNameFor(model => model.ExpenseAmount)
            </dt>
            <dd class="col-sm-8">
                @Html.DisplayFor(model => model.ExpenseAmount)
            </dd>
            <dt class="col-sm-4">
                @Html.DisplayNameFor(model => model.Project)
            </dt>
            <dd class="col-sm-8">
                @Html.DisplayFor(model => model.Project.ProjectName)
            </dd>
        </dl>
    </div>
</div>
<div class="text-center justify-content-center mx-auto">
    <a asp-action="Update" asp-route-id="@Model.Id">Düzenle</a> |
    <a asp-action="GetAll">Geri dön</a>
</div>
