@model ProjeYonetim.Entities.ToDoList

@{
    ViewData["Title"] = "Delete";
}

<h1 class="text-monospace text-info text-center">Yapılacak Sil</h1>
<hr class="col-md-7 bg-danger" />
<hr class="col-md-7 bg-warning" />

<div class="row justify-content-center mx-auto col-md-5">
    <div class="row table table-bordered p-2 border-danger">
        <dl class="row">
            <dt class="col-sm-2">
                @Html.DisplayNameFor(model => model.ToDoName)
            </dt>
            <dd class="col-sm-10">
                @Html.DisplayFor(model => model.ToDoName)
            </dd>
            <dt class="col-sm-2">
                @Html.DisplayNameFor(model => model.ToDoContent)
            </dt>
            <dd class="col-sm-10">
                @Html.DisplayFor(model => model.ToDoContent)
            </dd>
            <dt class="col-sm-2">
                @Html.DisplayNameFor(model => model.Priority)
            </dt>
            <dd class="col-sm-10">
                @Html.DisplayFor(model => model.Priority)
            </dd>
            <dt class="col-sm-2">
                @Html.DisplayNameFor(model => model.Employee)
            </dt>
            <dd class="col-sm-10">
                @Html.DisplayFor(model => model.Employee.FullName)
            </dd>
            <dt class="col-sm-2">
                @Html.DisplayNameFor(model => model.Project)
            </dt>
            <dd class="col-sm-10">
                @Html.DisplayFor(model => model.Project.ProjectName)
            </dd>
        </dl>
    </div>
</div>
<form asp-action="Delete" class="text-center justify-content-center mx-auto">
    <input type="hidden" asp-for="Id" />
    <input type="hidden" asp-for="ToDoName" />
    <input type="hidden" asp-for="ToDoContent" />
    <input type="hidden" asp-for="Priority" />
    <input type="submit" value="Delete" class="btn btn-danger" /> |
    <a asp-action="GetAll">Geri dön</a>
</form>

