@model ProjeYonetim.Entities.ToDoList

@{
    ViewData["Title"] = "GetById";
}

<h1 class="text-monospace text-info text-center">Yapılacak Detay</h1>
<hr class="col-md-7 bg-danger" />
<hr class="col-md-7 bg-warning" />

<div class="row justify-content-center mx-auto col-md-5">
    <div class="row table table-bordered p-2 border-info">
        <dl class="row">
            <dt class="col-sm-2">
                @Html.DisplayNameFor(model => model.ToDoName)
            </dt>
            <dd class="col-sm-10">
                @Html.DisplayFor(model => model.ToDoName)
            </dd>
            <dt class="col-sm-2">
                @Html.DisplayNameFor(model => model.ToDoContent)
            </dt>
            <dd class="col-sm-10">
                @Html.DisplayFor(model => model.ToDoContent)
            </dd>
            <dt class="col-sm-2">
                @Html.DisplayNameFor(model => model.Priority)
            </dt>
            <dd class="col-sm-10">
                @Html.DisplayFor(model => model.Priority)
            </dd>
            <dt class="col-sm-2">
                @Html.DisplayNameFor(model => model.Employee)
            </dt>
            <dd class="col-sm-10">
                @Html.DisplayFor(model => model.Employee.FullName)
            </dd>
            <dt class="col-sm-2">
                @Html.DisplayNameFor(model => model.Project)
            </dt>
            <dd class="col-sm-10">
                @Html.DisplayFor(model => model.Project.ProjectName)
            </dd>
        </dl>
    </div>
</div>
<div class="text-center justify-content-center mx-auto">
    <a asp-action="Update" asp-route-id="@Model.Id">Düzenle</a> |
    <a asp-action="GetAll">Geri dön</a>
</div>

