@model IEnumerable<ProjeYonetim.Entities.Employee>

@{
    ViewData["Title"] = "GetAll";
}





<h1 class="text-monospace  text-info text-center m-4">Personeller</h1>
<input class="form-control d-inline-block col-md-3" type="search" id="myInput" placeholder="Search..." onkeyup="myFunction()" aria-label="Search">
<a class="btn btn-success float-right mb-2 col-2" asp-action="Create"><i class="fas fa-plus-square"> </i> Personel Ekle</a>
<table id="myTable" class="table table-bordered table-sm table-hover table-striped mt-1" cellspacing="0">
    <thead>
        <tr>
            <th class="th-sm">
                @Html.DisplayNameFor(model => model.FullName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Gender)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.DateOfBirth)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Department)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Salary)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.LastUpdateDate)
            </th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.FullName)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Gender)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.DateOfBirth)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Department)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Salary)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.LastUpdateDate)
                </td>
                <td class="text-center col-md-2">
                    <a asp-action="Update" asp-route-id="@item.Id"><i class="btn btn-warning btn-sm fas fa-edit"></i></a>
                    <a asp-action="GetById" asp-route-id="@item.Id"><i class="btn btn-info btn-sm fas fa-info-circle"></i></a>
                    <a asp-action="Delete" asp-route-id="@item.Id"><i class="btn btn-danger btn-sm fas fa-trash-alt"></i></a>
                </td>
            </tr>
        }
    </tbody>
</table>
