@model IEnumerable<ProjeYonetim.Entities.Sales>

@{
    ViewData["Title"] = "GetAll";
}

<h1 class="text-monospace  text-info text-center mt-2">Satışlar</h1>
<a class="btn btn-success float-right mb-2" asp-action="Create"><i class="fas fa-plus-square"> </i> Satış Ekle</a>
<table class="table table-bordered table-sm table-hover table-striped mt-1">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.CustomerName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.ProjectName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Employee)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.SalesDate)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Price)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.CustomerName)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.ProjectName)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Employee.FullName)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.SalesDate)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Price)
                </td>
                <td class="text-center">
                    <a asp-action="Update" asp-route-id="@item.Id"><i class="fas fa-edit"></i></a> |
                    <a asp-action="GetById" asp-route-id="@item.Id"><i class="fas fa-info-circle"></i></a> |
                    <a asp-action="Delete" asp-route-id="@item.Id"><i class="fas fa-trash-alt"></i></a>
                </td>
            </tr>
        }
    </tbody>
</table>
